<div id="<%= dom_id pickup %>">
  <p>
  <strong>Donor:</strong>
  <%= link_to "#{pickup.item.user.first} #{pickup.item.user.last}", user_donor_path(pickup.item.user) %>
  </p>

  <p>
    <strong>Item Description:</strong>
    <%= pickup.item.description %>
  </p>

  <% if pickup.review.present? %>
    <%= render 'reviews/show', review: pickup.review %>
  <% else %>
    <%= link_to 'Review Donor', new_review_path(pickup_id: pickup.id), class: 'btn btn-primary' %>
  <% end %>

</div>