<p style="color: green"><%= notice %></p>

<%= render @pickup %>

<div>
  <%= link_to "Edit this pickup", edit_pickup_path(@pickup) %> |
  <%= link_to "Back to pickups", pickups_path %>

  <%= button_to "Destroy this pickup", @pickup, method: :delete %>
</div>
