<div id="<%= dom_id time_slot %>">
  <p>
    <strong>Donor:</strong>
    <%= time_slot.donor_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= time_slot.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= time_slot.end_time %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= time_slot.status %>
  </p>

</div>
