<div id="<%= dom_id user %>">
  <p>
    <strong>First:</strong>
    <%= user.first %>
  </p>

  <p>
    <strong>Last:</strong>
    <%= user.last %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= user.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= user.address %>
  </p>

</div>
