<br>

<h1>Editing Profile Information</h1>

<br>

<%= form_with(model: @user) do |form| %>

  <%= form.label :first %>
  <%= form.text_field :first %>

  <%= form.label :last %>
  <%= form.text_field :last %>

  <%= form.label :email %>
  <%= form.text_field :email, readonly: true %>
  
  <br> <br>

  <%= form.label :phone %>
  <%= form.text_field :phone %>

  <%= form.label :address %>
  <%= form.text_field :address %>


  <br> <br>

  <%= form.submit 'Confirm User Updates' %>
<% end %>

<br>

<div>
  <%= link_to "Show this user", @user %> |
  <%= link_to "Back to users", users_path %>
</div>
