<h1 style="text-align: center;">Editing Profile Information</h1>

<div style="display: flex; justify-content: center; align-items: center;">
  <div style="width: 50%; max-width: 500px; padding: 20px; border: 1px solid #ccc; border-radius: 5px;">

    <br>
    
    <%= form_with(model: @user) do |form| %>

      Name:
      <%= @user.first %>
      <%= @user.last %>

      <br><br>

      Email:
      <%= @user.email %>

      <br><br>
    
      <%= form.label :phone %>:
      <%= form.text_field :phone %>

      <br> <br>
    
      <%= form.label :address %>:
      <%= form.text_field :address %>

      <br> <br>
    
      <% if @user.student %>
        <%= form.label :donor %>:
        <%= form.check_box :donor %>
        <br>
        <br>
      <% end %>
    
      <%= form.submit 'Confirm User Updates', class: "btn btn-primary"  %>
    <% end %>
  </div>
</div>
