<p style="color: green"><%= notice %></p>

<div style="float: right; margin-right: 20px;">
  <div><strong>Account Details</strong><br></div>
  <%= render @user %>
  <div>
    <%= link_to "Edit Account", edit_user_path(@user) %>
    <%= link_to "New time slot", new_time_slot_path %>
    <%= link_to "View Time Slots", time_slots_path %>

    <%= button_to "Delete Account", @user, method: :delete %>
  </div>
</div>


<h2>Pickups:</h2>
<% @user.donated_pickups.each do |pickup| %>
  
  <p>
    <div class="col-md-4 mb-4">
      <div class="card">
        <% if pickup.item.image_url.present? %>
          <%= image_tag pickup.item.image_url, class: "card-img-top img-fluid", alt: "Item Image", style: "object-fit: contain; height: 500px;" %>
        <% else %>
          <img src="placeholder_image_url" class="card-img-top img-fluid" alt="No image available" style="object-fit: contain; height: 500px;">
        <% end %>
        <div class="card-body">
          <%= render pickup.item %>
        </div>
      </div>
    </div>
  </p>
<% end %>

<h2>Requests:</h2>
<% @user.donated_requests.each do |request| %>
  <p>
  <div class="col-md-4 mb-4">
    <div class="card">
      <% if request.item.image_url.present? %>
        <%= image_tag request.item.image_url, class: "card-img-top img-fluid", alt: "Item Image", style: "object-fit: contain; height: 500px;" %>
      <% else %>
        <img src="placeholder_image_url" class="card-img-top img-fluid" alt="No image available" style="object-fit: contain; height: 500px;">
      <% end %>
      <div class="card-body">
        <%= render request.item %>
      </div>
      <% if request.receiver %>
        <button onclick="showMap('map-container-<%= request.id %>')">Show Map</button>
        <div id="map-container-<%= request.id %>" class="map_container">
          <%= js_map [{latitude: request.receiver.latitude, longitude: request.receiver.longitude}], height: "300px", controls: true %>
        </div>
      <% else %>
        <p>Receiver location not available.</p>
      <% end %>
    </div>
  </div>
</p>
<% end %>

<script>
window.onload = function() {
  var el = document.getElementsByClassName("map_container")[0].setAttribute("style","display: none;");
};
function showMap(containerId) {
  var el = document.getElementsByClassName("map_container")[0]

  if (el.style.display === 'none') {
    var el = document.getElementsByClassName("map_container")[0].setAttribute("style","display: block; background-color: #F5F5F5;");
  } else {
    var el = document.getElementsByClassName("map_container")[0].setAttribute("style","display: none");
  }
  
}
</script>
