<p style="color: green"><%= notice %></p>

<h1> Welcome to the Student Dashboard, <%= @user.first %></h1>

<div style="float: right; margin-right: 20px;">
  <div><strong>Account Details</strong><br></div>
  <%= render @user %>
  <div>
    <%= link_to "Edit Account", edit_user_path(@user) %>
    <%= button_to "Delete Account", @user, method: :delete %>
  </div>
</div>

<h2>Past Pickups:</h2>
<% @user.received_pickups.each do |pickup| %>
  <p>
    <div class="col-md-4 mb-4">
      <div class="card">
        <% if pickup.item.image_url.present? %>
          <%= image_tag pickup.item.image_url, class: "card-img-top img-fluid", alt: "Item Image", style: "object-fit: contain; height: 500px;" %>
        <% else %>
          <img src="placeholder_image_url" class="card-img-top img-fluid" alt="No image available" style="object-fit: contain; height: 500px;">
        <% end %>
        <div class="card-body">
          <%= render pickup.item %>
        </div>
      </div>
    </div>
  </p>
<% end %>

<h2>Current Requests:</h2>
<% @user.received_requests.each do |request| %>
  <p>
    <div class="col-md-4 mb-4">
      <div class="card">
        <% if request.item.image_url.present? %>
          <%= image_tag request.item.image_url, class: "card-img-top img-fluid", alt: "Item Image", style: "object-fit: contain; height: 500px;" %>
        <% else %>
          <img src="placeholder_image_url" class="card-img-top img-fluid" alt="No image available" style="object-fit: contain; height: 500px;">
        <% end %>
        <div class="card-body">
          <%= render request.item %>
          <% if request.receiver %>
          <div class="btn btn-primary btn-lg">
            <%= button_tag "Show Map", class: "show-map-button", onclick: "showMap('map-container-#{request.id}')" %>
          </div>
          <div id="map-container-<%= request.id %>" class="map_container">
            <%= js_map [{latitude: request.donor.latitude, longitude: request.donor.longitude}], height: "300px", controls: true %>
          </div>
        <% else %>
          <p>Receiver location not available.</p>
        <% end %>
        </div>
      </div>
    </div>
  </p>
<% end %>


<script>
window.onload = function() {
  var el = document.getElementsByClassName("map_container")[0].setAttribute("style","display: none;");
};
function showMap(containerId) {
  var el = document.getElementsByClassName("map_container")[0]

  if (el.style.display === 'none') {
    var el = document.getElementsByClassName("map_container")[0].setAttribute("style","display: block; background-color: #F5F5F5;");
  } else {
    var el = document.getElementsByClassName("map_container")[0].setAttribute("style","display: none");
  }
  
}
</script>
