<div id="<%= dom_id item %>">
  <p>
    <strong>Color:</strong>
    <%= item.color.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= item.type.name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= item.gender.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= item.status.name %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= item.size.name %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= item.condition.name %>
  </p>

  <p>
    <strong>Photo:</strong><br>
    <%= image_tag item.photo_link if item.photo_link.attached? %>
  </p>

</div>
