<div id="<%= dom_id item %>">
    <strong>Color:</strong>
    <%= item.color.name %>
    <br>
    
    <strong>Type:</strong>
    <%= item.type.name %>
    <br>

    <strong>Gender:</strong>
    <%= item.gender.name %>
    <br>

    <strong>Description:</strong>
    <%= item.description %>
    <br>

    <strong>Size:</strong>
    <%= item.size.name %>
    <br>

    <strong>Condition:</strong>
    <%= item.condition.name %>
    <br>

    <% if item.user.present? %>
      <p>
        <strong>Donor:</strong>
        <%= link_to "#{item.user.first} #{item.user.last}", user_donor_path(item.user) %>
      </p>
    <% end %>
</div>