<div id="<%= dom_id item %>">
  <p>
    <strong>Color:</strong>
    <%= item.color_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= item.type_id %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= item.gender_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= item.status_id %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= item.size_id %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= item.condition_id %>
  </p>

</div>
