<div id="<%= dom_id item %>">

  <p>
    <strong>Color:</strong>
    <%= item.color.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= item.type.name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= item.gender.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= item.size.name %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= item.condition.name %>
  </p>

  <% if item.user.present? %>
    <p>
      <strong>Donor:</strong>
      <%= item.user.first %> 
      <%= item.user.last  %>
    </p>
  <% end %>
  

</div>
