
<div class="container">
  <%= link_to "Back to All Items", items_path, class: "btn btn-primary" %>
  <br>
  <%= form_tag(items_by_type_path(type: @type.name), method: :get) do %>
    <%= select_tag :color, options_from_collection_for_select(@colors, :id, :name, params[:color]), prompt: 'Select Color' %>
    <%= select_tag :gender, options_from_collection_for_select(@genders, :id, :name, params[:gender]), prompt: 'Select Gender' %>
    <%= select_tag :condition, options_from_collection_for_select(@conditions, :id, :name, params[:condition]), prompt: 'Select Condition' %>
    <%= select_tag :size, options_from_collection_for_select(@sizes, :id, :name, params[:size]), prompt: 'Select Size' %>
    <%= submit_tag "Filter", class: "btn btn-primary" %>
  <% end %>
  <div class="row">
    <% @items.each do |item| %>
      <% if item.status.name == "Available" %>
        <div class="col-md-3 mb-3">
          <div class="card">
            <div class="card-body">
              <%= render item %>
              <p class="card-text">
                <%= link_to "Show this item", item, class: "btn btn-primary" %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>

<% unless session[:user_id].nil? %>
  <% if current_user.donor %>
    <%= link_to "New item", new_item_path, class: "btn btn-primary" %>
  <% end %>
<% end %>