
<div class="container">
  <h1 class="mt-4">Items</h1>
  <%= link_to "Back to All Items", items_path, class: "btn btn-primary" %>
  <br>
  <br>
  <h1 class="mt-4">Filter</h1>
  <%= render "filter", type: @type %>
  <div class="row">
    <% @items.each do |item| %>
      <% if item.status.name == "Available" %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <%= render item %>
              <p class="card-text">
                <%= link_to "Show this item", item, class: "btn btn-primary" %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>

<% unless session[:user_id].nil? %> 
  <%= link_to "New item", new_item_path %>
<% end %>