<p style="color: green"><%= notice %></p>

<% if current_user %>
  Welcome, <%= current_user.first %> <%= current_user.last %>! <%= link_to 'Sign out', signout_path %>
<% else %>
  <p><%= button_to "Login with Google", "/auth/google_oauth2", data: {turbo: "false"} %></p>
<% end %>

<h1>Items</h1>

<div id="items">
  <% @items.each do |item| %>
    <% if item.image_url.present? %>
  <%= image_tag item.image_url, :style => "width: 20vw", class: "item-image" %>
<% else %>
  <p>No image available</p>
<% end %>
    <%= render item %>
    <p>
      <%= link_to "Show this item", item %>
    </p>
  <% end %>
</div>

<%= link_to "New item", new_item_path %>

<%= render "filter" %>
