<div class="container">
  <h1 class="mt-4">Items</h1>
  <%= render "filter" %>
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-md-4 mb-4">
        <div class="card">
        <% if item.image_url.present? %>
          <%= image_tag item.image_url, class: "card-img-top img-fluid", alt: "Item Image", style: "object-fit: contain; height: 500px;" %>
        <% else %>
          <img src="placeholder_image_url" class="card-img-top img-fluid" alt="No Image Available" style="object-fit: contain; height: 500px;">
        <% end %>
          <div class="card-body">
            <%= render item %>
            <p class="card-text">
              <%= link_to "Show this item", item, class: "btn btn-primary" %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>

<%= link_to "New item", new_item_path %>

<%= link_to 'Go to Users', users_path, class: 'btn btn-primary', style: 'position: absolute; top: 15px; right: 15px; color:red;' %>

<%= render "filter" %>
