<p style="color: green"><%= notice %></p>

<% if @item.image_url.present? %>
  <%= image_tag @item.image_url, class: "item-image" %>
<% else %>
  <p>No image available</p>
<% end %>

<%= render @item %>

<div>
  <%= link_to "Edit this item", edit_item_path(@item) %> |
  <%= link_to "Back to items", items_path %>

  <%= button_to "Destroy this item", @item, method: :delete %>
</div>
