<%= form_with(model: review) do |form| %>
  <%= form.hidden_field :pickup_id, value: params[:pickup_id] %>
  
  <% if review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :rating %>
    <%= form.number_field :rating, min: 1, max: 5 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
