<style>
  .logo-img {
    max-width: 50px;
    max-height: 50px;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
  }
</style>

<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="font-size: 20px; font-weight: bold;">
      <%= image_tag("logo.png", alt: "Logo", class: "logo-img", style: "margin-right: 10px;") %>
      Campus Closet
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto" style="font-size: 18px; font-weight: bold;">
        <li class="nav-item">
          <%= link_to "Home", "/", class: 'nav-link', style: 'transition: background-color 0.3s;' %>
        </li>
        <% if current_user.present? %>
          <% if current_user.student.present? %>
            <li class="nav-item">
              <%= link_to "Student Profile", user_student_path(current_user), class: 'nav-link' %>
            </li>
          <% end %>
      
          <% if current_user.donor.present? %>
            <li class="nav-item">
              <%= link_to "Donor Dashboard", user_donor_path(current_user), class: 'nav-link' %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <div class="navbar-text">
        <% if current_user.present? %>
          <%= link_to 'Sign out', signout_path %>
        <% else %>
          <%= button_to "Login with Google", "/auth/google_oauth2", method: :post, data: { turbo: "false" }, class: "btn btn-secondary" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>